{% extends "inventory/base.html" %}

{% block content %}

    <div class="row">
        <div class="col-sm-11 col-md-4 mx-auto mt-5 text-center">
            <h1 class="fw-light">Track And Manage Your Inventory</h1>
            <p class="fw-light">Keep track of your inventory and receive quantity alerts for low inventory</p>

            <div>
                <a href="{% url "dashboard" %}" class="btn btn-primary mt-4">Get Started Now!</a>
            </div>
        </div>
    </div>
{% endblock content %}