<nav class="navbar navbar-expand-lg bg-light">

    <div class="container-fluid">
        <a href="{% url "index" %}" class="navbar-brand">INVManager</a>

        <button class="navbar-toggler" type="button" data-bs-toggle = "collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapsenavbar-collapsejustify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url "profile-page" %}" class="nav-link">Profile : {{user.username}}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "logout" %}" class="nav-link">Sign Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url "login" %}" class="nav-link">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "signup" %}" class="nav-link">Sign Up</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
    
</nav>